<h4>Add a new task</h4>
<form class="example-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <table class="example-container" cellspacing="0">
        <mat-form-field appearance="fill">
            <mat-label>Task name</mat-label>
            <input
                    id="name"
                    name="name"
                    required
                    ngModel
                    matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select name="priority" id="priority" [ngModel]="priority" required>
                <mat-option value=3>{{priorityName(3)}}</mat-option>
                <mat-option value=2>{{priorityName(2)}}</mat-option>
                <mat-option value=1>{{priorityName(1)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </table>

    <div>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!f.valid">Add
        </button>
    </div>
</form>